<!DOCTYPE html>
<html>
<head>
<title>SDN_Lab8_Main_Page</title>
</head>

<body>
	<form method='POST' action="/default_topo">
	<input class="text" type="submit" value="Default">
	</form>
	<br>

	<form method='POST' action="/shortest_topo">
	<input class="text" type="submit" value="Shortest Path">
	</form>
	<br>

	<form method='POST' action="/longest_topo">
	<input class="text" type="submit" value="Longest Path">
	</form>
	<br>

	<form method='POST' action="/latency_topo">
	<input class="text" type="submit" value="Best Latency">
	</form>
	<br>

</body>
</html>
