<!DOCTYPE html>
<html>
<body>

<h1>Static flow entry paramenters</h1>

<form method=POST action="/add">
<h3>DPID:</h3>
<input type="text" name="DPID">
<br>
<h3>PRIORITY:</h3>
<input type="text" name="PRIORITY">
<br>
<h3>IN-PORT:</h3>
<input type="text" name="IN_PORT">
<br>
<h3>ETHER TYPE:</h3>
<input type="text" name="ETH_TYPE">
<br>
<h3>DESTINATION IP:</h3>
<input type="text" name="DESTINATION_IP">
<br>
<h3>ACTION:</h3>
<input type="text" name="ACTION">
<br><br>
<input type="submit" value="Submit">
</form>

</body>
</html>
